function Board.new 0
push constant 4
call Memory.alloc 1
pop pointer 0
push constant 9
pop this 1
push pointer 0
call Board.drawBoard 1
pop temp 0
push pointer 0
return
function Board.dispose 0
push argument 0
pop pointer 0
push constant 0
call Screen.setColor 1
pop temp 0
push constant 200
push constant 60
push constant 320
push constant 180
call Screen.drawRectangle 4
pop temp 0
push this 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function Board.drawBoard 0
push argument 0
pop pointer 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push constant 238
push constant 60
push constant 242
push constant 180
call Screen.drawRectangle 4
pop temp 0
push constant 278
push constant 60
push constant 282
push constant 180
call Screen.drawRectangle 4
pop temp 0
push constant 200
push constant 98
push constant 320
push constant 182
call Screen.drawRectangle 4
pop temp 0
push constant 200
push constant 138
push constant 320
push constant 142
call Screen.drawRectangle 4
pop temp 0
push constant 0
return
function Board.erase 1
push argument 0
pop pointer 0
push constant 0
call Screen.setColor 1
pop temp 0
push constant 0
pop this 2
push constant 0
pop this 3
push constant 0
pop local 0
label WHILE_EXP0
push local 0
push this 1
lt
not
if-goto WHILE_END0
push local 0
push this 0
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
